backend/venv/
__pycache__/
*.pyc
node_modules/
.env
*.csv
backend/app/ml/rf_model.pkl
backend/app/ml/*.pkl



# ML models
backend/app/ml/*.json
backend/ml/*.pkl

# datasets
backend/data/*.csv
*.parquet

# Python cache
__pycache__/
*.pyc

# frontend
node_modules/
dist/
build/